<?xml version="1.0" encoding="UTF-8"?>

<!-- Please do NOT change this file! --> 

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
	     http://www.springframework.org/schema/aop 
	     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	   ">

    <!-- activate annotations in registered beans -->
    <context:annotation-config />   

    <!-- Enable Spring AOP with AspectJ -->
    <aop:aspectj-autoproxy />

    
    <bean id="blogService" class="edu.sjsu.cmpe275.aop.BlogServiceImpl" scope="singleton"/>

    <bean name="retryAspect" class="edu.sjsu.cmpe275.aop.aspect.RetryAspect" scope="singleton"/>
    <bean name="authorizationAspect" class="edu.sjsu.cmpe275.aop.aspect.AuthorizationAspect" scope="singleton"/>
    <bean name="validationAspect" class="edu.sjsu.cmpe275.aop.aspect.ValidationAspect" scope="singleton"/>
</beans>